.products-header {
  display: grid;
  grid-template-columns: repeat(6, 14.58%) 12.5%;
  justify-items: center;
  border-bottom: black 1px solid;
}

.products-header > button {
  border: none;
  padding: 16px;
  background: none
}

.product-list {
  height: 57vh;
  overflow-y: scroll
}

.product-list::-webkit-scrollbar {
  position: relative;
  right: 10px;
  width: 2px;
}

.product-list::-webkit-scrollbar-thumb {
  background-color: darkgray
}

.product-list::-webkit-scrollbar-track {
  background-color: transparent
}

/*.product-list:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 5vh;
  left: 7vh;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 90%);
  width: 88vw;
  height: 4em;
}*/

.product {
  display: grid;
  grid-template-columns: 15% 15% repeat(4, 14.5%) 6% 6%;
  justify-items: center;
}

.product:nth-child(2n){
  background-color: rgba(200, 200, 200, 0.1)
}

.product-name {
  justify-self: left ;
}
.product-category {
  justify-self: left ;
}

.product > p {
  margin: 16px;
}

.inactive {
  background-color: #fad7d7 !important
}