.orders-header {
  display: grid;
  grid-template-columns: 10% 30% 30% 30%;
  justify-items: center;
  border-bottom: black 1px solid;
}

.order-grid {
  display: grid;
  grid-template-columns: repeat(4, 15%) 10% repeat(4, 7.5%);
  justify-items: center;
  border-bottom: black 1px solid;
}

.order-list {
  max-height: 63vh;
  overflow-y: scroll;
}

.order {
  background-color: #bbb;
  margin: 5px;
}

.order-time {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
}

.order-content {
  display: grid;
  justify-items: center;
}

.order-details {
  background-color: #eee;
  padding-top: 10px;
  padding-bottom: 10px;
}

.order-details p {
  margin: 10px !important;
}

.collapsed {
  display: none;
}