.Inventory {
  border: lightgray 1px solid;
  border-radius: 10px;
  height: 90vh;
  width: 96vw;
}

.btn-active {
  color: blue;
}

.Inventory-current {
  padding: 10px;
}

.Inventory-header {
  display: grid;
  grid-template-columns: 20% repeat(4, 20%);
  column-gap: 2px;
  justify-items: center;
  border-bottom: gray 2px solid;
  padding: 10px;
}

.Inventory-header > h3 {
  width: 100%;
}

.Inventory-header > button {
  position: relative;
  right: 8px;
  border-style: outset;
  border-color: rgba(255, 255, 255, 0.4);
  background-color: #fbfbfb;
  border-radius: 15px;
}

/*.Inventory-header > button::after {
  content: "";
  background-color: #000;
  position: absolute;
  width: 5px;
  height: 100px;
  top: 10px;
  left: 50%;
  display: block;
}*/