.Inventory {
  border: black 3px solid;
}

.btn-active {
  color: blue;
}

.Inventory-current {
  padding: 10px;
}

.Inventory-header {
  display: grid;
  grid-template-columns: 20% repeat(6, 13.33%);
  justify-items: center;
  border-bottom: black 2px solid;
  padding: 10px;
}